.search {
  margin: 0 10px 50px;
}
.search input {
  border: 2px dashed #fe5d42;
  padding: 10px;
  width: 250px;
  font-size: 0.9rem;
  color: #fe5d42;
  border-radius: 10px;
  margin-right: 10px;
}
.search input:focus {
  outline: none;
}
.search button {
  padding: 10px;
  font-size: 1rem;
  background-color: #fe5d42;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.2s ease-in;
}

/* Responsive */
@media (max-width: 420px) {
  .search {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search input {
    width: 75%;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
