.sidebar {
  width: 200px;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  margin-left: 30px;
  background-color: #fff;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
  position: sticky;
  top: 10px;
}

.sidebar div {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fe5d42;
  font-weight: 500;
}
.sidebar div p {
  margin-left: 10px;
}

.sidebar li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.sidebar li:hover {
  color: #fe5d42;
}

.selected {
  background-color: #f7753d49;
  color: #fe5d42;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 580px) {
  .sidebar {
    width: 200px;
    margin: 10px auto;
  }
  .sidebar div {
    width: 90%;
    font-size: 0.9rem;
  }
  .sidebar li {
    font-size: 0.8rem;
    width: max-content;
  }
}

@media (max-width: 460px) {
  .sidebar {
    width: 40%;
    margin: 10px auto;
  }
}

@media (max-width: 420px) {
  .sidebar {
    position: static;
    width: 90%;
  }
  .sidebar div {
    width: 100%;
    font-size: 1.1rem;
  }
  .sidebar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
  }
  .sidebar li {
    font-size: 1rem;
    margin: 0 5px;
    text-wrap: nowrap;
  }
}
